---

---

<nav>
  <div class="w-7xl flex justify-end mt-4">
    <div class="p-4">
      <a
        href="#"
        class="text-beam-900 hover:bg-beam-900 hover:text-beam-500 px-4 py-2 border"
        >Book An Appointment</a
      >
      <a
        href="#"
        class="text-beam-900 hover:bg-beam-900 hover:text-beam-500 px-4 py-2"
        >Services</a
      >
      <a
        href="#"
        class="text-beam-900 hover:bg-beam-900 hover:text-beam-500 px-4 py-2"
        >Contact</a
      >
    </div>
  </div>
</nav>
